/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.tagchecklist {
    margin: 15px 0px 15px 15px ;
    font-size: 12px;
    overflow: auto;
    list-style: none;
}
.tagchecklist>li {
    float: left !important;
    margin-right: 35px;
    font-size: 13px;
    line-height: 1.8em;
    cursor: default;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tagchecklist .ntdelbutton {
    position: absolute;
    width: 24px;
    height: 24px;
    border: none;
    margin: -1px 0 0 -19px;
    padding: 0 !important;
    border: 0 !important;
    background:transparent !important;
    cursor: pointer;
    text-indent: 0;
}
.tagchecklist .ntdelbutton .remove-tag-icon:before {
    margin-left: 2px;
    border-radius: 50%;
    color: #0073aa;
    line-height: 1.28;
}
.remove-tag-icon:before {
    background: 0 0;
    color: #72777c;
    content: "\f153";
    display: block;
    font: 400 16px/20px dashicons;
    speak: none;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#main #buddypress .standard-form #bpgrptg-new-tag-input{width: 80%; float: left;}
#buddypress .standard-form .bpgrptg-tagadd{display: inline-block;    width: calc(100% - 84%); margin-left: 24px; height: 38px;}
#main #buddypress .standard-form#group-settings-form p > label{float: left;width: 100%;display: block;}
#main #buddypress .standard-form#group-settings-form p{display: inline-block;width: 100%;}

@media (max-width:992px){
    #buddypress .standard-form .bpgrptg-tagadd{width: calc(100% - 82%);margin-left: 10px;height: 43px;;}
}
@media (max-width:600px){
    #buddypress .standard-form .bpgrptg-tagadd{width: calc(100% - 82%);margin-left: 3px;}
}